In [51]:
import requests
import pandas as pd
import numpy as np

from collections import Counter

In [52]:
req = requests.get("http://ec2-52-24-126-225.us-west-2.compute.amazonaws.com:81/iris/retrieve-last-participant")

if req.ok:
    print("Query Successful")
    participant_id = req.json()['data'][0]['id']
    current_mission = req.json()['data'][0]['current_mission']
else:
    print("Query NOT Successful")

Query Successful

In [53]:
current_mission = 1

In [54]:
participant_id = 0

In [55]:
j={
    "query_id": 1000
}

In [56]:
json={
    'query_id': 1000
}

req = requests.post("http://ec2-52-24-126-225.us-west-2.compute.amazonaws.com:81/iris/retrieve-query", json)

if req.ok:
    new_queries = pd.DataFrame(req.json()['data'])

In [129]:
req = requests.post("http://ec2-52-24-126-225.us-west-2.compute.amazonaws.com:81/detection/send-query-to-gcs", json={"Butt":1})

In [125]:
req.content

'{"response":true}'

In [130]:
json={
    'participant_id': participant_id
}

req = requests.post("http://ec2-52-24-126-225.us-west-2.compute.amazonaws.com:81/iris/retrieve-participant-preferences", json=json)

if req.ok:
    print("Query Successful")
    if current_mission < 1:
        # Error
        print("Error")
    else:
        if current_mission == 1:
            # Non Adaptive System.
            q_continue = new_queries[new_queries['confidence'] > .80]
            q_stop = new_queries[new_queries['confidence'] < .80]
            pass
        else:
            # Adaptive system
            data = pd.DataFrame(req.json()['data'])
            query_attributes = ["confidence", "type"]
            old_queries = data[data['mission_id'] != current_mission]
            new_queries = new_queries
            prefered_levels = data[data['mission_id'] != current_mission]['preferred_level_of_autonomy'].reset_index(drop=True)

            actions = -np.ones((new_queries.shape[0], 1))

            for i, query in enumerate(new_queries[query_attributes].as_matrix().astype(np.float)):
                dists = np.linalg.norm(query - old_queries[query_attributes].astype(np.float), axis=1)
                closest = np.argmin(dists)
                actions[i] = prefered_levels[closest]  
                
            if not actions[0][0]:
                query = new_queries.iloc[0]

                j = {
                    "type":query["type"],
                    "data":query[["query_id", "robot_id", "confidence", "file_path"]].to_json()
                }
                req = requests.post("http://ec2-52-24-126-225.us-west-2.compute.amazonaws.com:81/detection/send-query-to-gcs", json=j)
else:
    print("Query NOT Successful")

Query Successful

In [115]:
actions

array([[ 0.]])

In [ ]:
old_queries

In [76]:
new_queries.to_json

,confidence,gcs_arrival_time,level_of_autonomy,mission_id,operators_response,query_id,robot_id,true_response,type,user_id
0,0.6,1,0,0,3,1000,3,0,1,1

In [79]:
new_queries["query_id", "robot_id", "confidence", ""]

,confidence,gcs_arrival_time,level_of_autonomy,mission_id,operators_response,query_id,robot_id,true_response,type,user_id
0,0.6,1,0,0,3,1000,3,0,1,1

In [50]:
actions

array([[ 0.]])

In [207]:
past_queries = data[data["mission_id"] < 2]

In [208]:
new_queries = data[data["mission_id"] == 2]

In [221]:
n_past_missions = past_queries["mission_id"].max() + 1

In [240]:
cluster_attributes = ["confidence", "type"]

In [271]:
prefered_levels = past_queries['preferred_level_of_autonomy']

actions = -np.ones((new_queries.shape[0], 1))
for i, query in enumerate(new_queries[cluster_attributes].as_matrix().astype(np.float)):
    dists = np.linalg.norm(query - past_queries[cluster_attributes].astype(np.float), axis=1)
    closest = np.argmin(dists)
    actions[i] = prefered_levels[closest]
print(actions)

[[ 0.]
 [ 0.]
 [ 0.]
 [ 0.]]

In [265]:
prefered_levels

0    0
1    1
2    0
3    0
4    0
5    0
6    0
Name: preferred_level_of_autonomy, dtype: int64

In [269]:
past_queries

,cluster_id,confidence,gcs_arrival_time,level_of_autonomy,mission_id,operators_response,preferred_level_of_autonomy,query_id,robot_id,true_response,type,user_id
0,-1,0.94,3,0,0,2,0,643,3,0,1,0
1,0,0.50,2,0,0,3,1,679,2,2,3,0
2,-1,0.50,2,1,0,2,0,680,3,0,0,0
3,-1,0.60,0,0,1,3,0,700,2,1,0,0
4,-1,0.90,1,0,1,0,0,701,3,1,3,0
5,-1,0.20,1,1,1,3,0,702,2,0,3,0
6,-1,0.70,3,0,1,3,0,703,3,3,1,0

In [268]:
actions = -np.ones((new_queries.shape[0], 1))
for i, query in enumerate(new_queries[cluster_attributes].as_matrix().astype(np.float)):
    dists = np.linalg.norm(query - past_queries[cluster_attributes].astype(np.float), axis=1)
    print(dists)
    closest = np.argmin(dists)
    print("Closest")
    print(closest)
    print("Prefered action")
    print(prefered_levels[closest])
    actions[i] = prefered_levels[closest]
    print("Action")
    print(action)
    print

[ 1.18726577  3.00665928  0.2         0.3         3.05941171  3.0016662
  1.07703296]
Closest
2
Prefered action
0
Action
0

[ 2.1692395   0.4         3.02654919  3.04138127  0.8         0.1
  2.0880613 ]
Closest
5
Prefered action
0
Action
0

[ 0.14        2.02237484  1.04403065  1.0198039   2.00249844  2.0880613
  0.1       ]
Closest
6
Prefered action
0
Action
0

[ 2.00039996  0.4         3.02654919  3.01496269  0.          0.7
  2.00997512]
Closest
4
Prefered action
0
Action
0

In [267]:
actions

array([[ 0.],
       [ 0.],
       [ 0.],
       [ 0.]])

In [259]:
votes = np.zeros((n_past_missions, new_queries.shape[0]))

for x in range(n_past_missions+1):
    print(x)
    old_queries = past_queries[past_queries['mission_id'] == x][query_attributes]
    prefered_levels = data[data['mission_id'] == x]['preferred_level_of_autonomy']
    print(prefered_levels)

    actions = -np.ones((new_queries.shape[0], 1))
    for i, query in enumerate(new_queries[cluster_attributes].as_matrix().astype(np.float)):
        dists = np.linalg.norm(query - old_queries[cluster_attributes].astype(np.float), axis=1)
        print(dists)
        closest = np.argmin(dists)
        print("Closest")
        print(closest)
        actions[i] = prefered_levels[closest]
        print("Action")
        print(action)
        print
        votes[x][i] = action

0
0    0
1    1
2    0
Name: preferred_level_of_autonomy, dtype: int64
[ 1.18726577  3.00665928  0.2       ]
Closest
2
Action
0

[ 2.1692395   0.4         3.02654919]
Closest
1
Action
0

[ 0.14        2.02237484  1.04403065]
Closest
0
Action
0

[ 2.00039996  0.4         3.02654919]
Closest
1
Action
0

1
3    0
4    0
5    0
6    0
Name: preferred_level_of_autonomy, dtype: int64
[ 0.3         3.05941171  3.0016662   1.07703296]
Closest
0

KeyError: 0L

In [261]:
dists

array([ 0.3       ,  3.05941171,  3.0016662 ,  1.07703296])

In [251]:
prefered_levels

3    0
4    0
5    0
6    0
Name: preferred_level_of_autonomy, dtype: int64

In [250]:
closest

0

In [249]:
actions

array([[-1.],
       [-1.],
       [-1.],
       [-1.]])

In [235]:
# Find the most popular action to take from user's past feedback.
decisions = np.zeros((new_queries.shape[0]))

for i, vote in enumerate(votes.T):
    vote_counter = Counter(vote)
    decisions[i] = int(vote_counter.most_common(1)[0][0])

In [246]:
votes

array([[ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.]])

In [236]:
decisions

array([ 0.,  0.,  0.,  0.])

In [232]:
vote_counter[]

0

In [226]:
n_past_missions

2

In [227]:
votes

array([[ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.]])

In [200]:
new_queries

    confidence type
7          0.3    0
8          0.1    3
9          0.8    1
10         0.9    3

In [196]:
old_queries

    confidence type
7          0.3    0
8          0.1    3
9          0.8    1
10         0.9    3

In [172]:
old_queries = data[data['mission_id'] == 0][query_attributes]
prefered_levels = data[data['mission_id'] == 0]['preferred_level_of_autonomy']
new_queries = data[data['mission_id'] == 1][query_attributes]

In [173]:
old_queries

   confidence type
0        0.94    1
1        0.50    3
2        0.50    0

In [174]:
new_queries

   confidence type
3         0.6    0
4         0.9    3
5         0.2    3
6         0.7    1

In [175]:
new_queries.as_matrix().astype(np.float)

array([[ 0.6,  0. ],
       [ 0.9,  3. ],
       [ 0.2,  3. ],
       [ 0.7,  1. ]])

In [176]:
old_queries

   confidence type
0        0.94    1
1        0.50    3
2        0.50    0

In [182]:
old_queries = data[data['mission_id'] == 0][query_attributes]
prefered_levels = data[data['mission_id'] == 0]['preferred_level_of_autonomy']
new_queries = data[data['mission_id'] == 1][query_attributes]

actions = -np.ones((new_queries.shape[0], 1))

for i, query in enumerate(new_queries.as_matrix().astype(np.float)):
    dists = np.linalg.norm(query - old_queries.astype(np.float), axis=1)
    closest = np.argmin(dists)
    actions[i] = prefered_levels[closest]

In [183]:
actions

array([[ 0.],
       [ 1.],
       [ 1.],
       [ 0.]])

In [179]:
closest

0

In [180]:
query

array([ 0.7,  1. ])

In [181]:
dist

array([ 0.24      ,  2.00997512,  1.0198039 ])

In [152]:
closest

0

In [41]:
q_continue

,cluster_id,confidence,gcs_arrival_time,level_of_autonomy,mission_id,operators_response,preferred_level_of_autonomy,query_id,robot_id,true_response,type,user_id
0,-1,0.94,3,0,0,2,0,643,3,0,1,0

In [42]:
q_stop

,cluster_id,confidence,gcs_arrival_time,level_of_autonomy,mission_id,operators_response,preferred_level_of_autonomy,query_id,robot_id,true_response,type,user_id
1,-1,0.5,2,0,0,3,0,679,2,2,3,0
2,-1,0.5,2,1,0,2,0,680,3,0,0,0

In [ ]:
{
    "Query":{
        "Type":"Detection"
        "Data":{
            
        }
    }
    
}

In [ ]:
{
    "Notification":{
        "id":0,
        "message":"You are gay."
    }
}